$pink: #ff82b2;
$lime-green: greenyellow;
$pale-blue: #66baff;

.main {
    max-width: none !important;
    @include mq(lg) {
        margin-left: $nav-width;
    }
}

.table-wrapper {
    width: fit-content !important;
}

.side-bar {
    @include mq(lg) {
        width: $nav-width;
        min-width: $nav-width;
    }
}

.language-plaintext {
    color: $lime-green;
}

.nav-list .nav-list-item .nav-list-link.active {
    color: $pink !important;
}

body strong {
    color: $pink;
}
